.itemContainer {
  margin-top: 20px;
}
.favouriteItem {
  border: 1px solid #4fbdba;
  width: 50%;
  display: flex;
  margin: 15px auto;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  flex-direction: row;
  color: #4fbdba;
  justify-content: space-evenly;
}
.favouriteItem button {
  border: none;
  padding: 10px;
  min-width: 100px;
  border-radius: 5px;
  background-color: #4fbdba;
  cursor: pointer;
  font-size: 14px;
}
.favouriteItem img {
  height: 50px;
  width: 50px;
}
.itemName,
.itemPrice {
  margin: 11px 0 0 0;
  height: 20px;
}
@media screen and (max-width: 750px) {
  .favouriteItem {
    border: 1px solid #4fbdba;
    width: 90%;
    display: flex;
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    flex-direction: row;
    color: #4fbdba;
    justify-content: space-evenly;
  }
}
