.navBar {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  border-top: 1px solid #4fbdba;
  border-bottom: 1px solid #4fbdba;
  /* border: 1px solid red; */
}
.navBar > a {
  text-decoration: none;
}
.navLinks {
  text-decoration: none;
  padding: 30px;
  color: #4fbdba;
  font-weight: bold;
}
.navbarImg > img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 12px 0 0 0;
}
@media screen and (max-width: 750px) {
  .navbarImg > img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 17px 0 0 0;
  }
  .navBar {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border-top: 1px solid #4fbdba;
    border-bottom: 1px solid #4fbdba;
    /* border: 1px solid red; */
  }
  .navBar > a {
    text-decoration: none;
    width: 15%;
  }
  .links {
    margin-left: -30px;
    margin-right: 10px;
  }
}
